.button {
  border-radius: 4rem;
  padding: var(--spacing-2xs) calc(var(--spacing-sm) - var(--spacing-2xs));
  display: block;
  position: relative;
}

/* Variant: Primary */
.primary {
  color: var(--color_pure-white-00);
  background: radial-gradient(
      circle at 50% 0%,
      rgba(250, 250, 250, 0.05) 0%,
      black 60%
    ),
    rgba(15, 15, 15, 1);
}

.primary.radial-gradient {
  mask-image: linear-gradient(
    -75deg,
    var(--color_mirage) calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    var(--color_mirage) calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    var(--color_mirage) calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    var(--color_mirage) calc(var(--x) + 100%)
  );
}

.primary.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    var(--color_mirage) calc(var(--x) + 28%),
    transparent calc(var(--x) + 30%),
    var(--color_mirage) calc(var(--x) + 35%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    var(--color_mirage) calc(var(--x) + 28%),
    transparent calc(var(--x) + 30%),
    var(--color_mirage) calc(var(--x) + 35%)
  );
}

.primary.linear-overlay {
  --overlay-color: 0, 0, 0;

  display: block;
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    -75deg,
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
    rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 30%)
  );
  mask:
    linear-gradient(var(--color_bunting-700), var(--color_bunting-700))
      content-box,
    linear-gradient(var(--color_bunting-700), var(--color_bunting-700));
  -webkit-mask:
    linear-gradient(var(--color_bunting-700), var(--color_bunting-700))
      content-box,
    linear-gradient(var(--color_bunting-700), var(--color_bunting-700));
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

/* Variant: Secondary */
.secondary {
  background-color: var(--color_pure-white-00);
  border: 1px solid var(--color_bunting-700);
  color: var(--color_bunting-700);
}

.secondary.radial-gradient {
  mask-image: linear-gradient(
    -75deg,
    var(--color_pure-white-00) calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    var(--color_pure-white-00) calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    var(--color_pure-white-00) calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    var(--color_pure-white-00) calc(var(--x) + 100%)
  );
}

.secondary.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 28%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 35%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 28%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 35%)
  );
}

.secondary.linear-overlay {
  --overlay-color: 255, 255, 255;

  display: block;
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    -75deg,
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
    rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 30%)
  );
  mask:
    linear-gradient(var(--color_bunting-700), var(--color_bunting-700))
      content-box,
    linear-gradient(var(--color_bunting-700), var(--color_bunting-700));
  -webkit-mask:
    linear-gradient(var(--color_bunting-700), var(--color_bunting-700))
      content-box,
    linear-gradient(var(--color_bunting-700), var(--color_bunting-700));
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}
