.animatea-wrapper {
  top: 0;
  left: var(--gap);
  width: calc(12% - (var(--gap) * 2));
}

.block.animatea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animatea-eyebrow {
  font-style: italic;
  margin-bottom: var(--spacing-md);
}

.animatea-title {
  font-weight: var(--font-weight-bold);

  margin-bottom: var(--spacing-xs);
  text-transform: uppercase;
  text-decoration: overline;
  font-weight: var(--font-weight-bold);
  border-bottom: 2rem solid var(--theme_border);
  max-width: fit-content;
  margin-bottom: var(--spacing-xs);
}

.animatea-description {
  font-size: 12rem;
}
