.apple-wrapper {
  width: calc(20% - (var(--gap) * 2));
}

.title-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--spacing-3xl);
  flex-direction: column;
  color: var(--theme_upsell-text);
  gap: var(--spacing-2xs);
}

.eyebrow {
  font-style: italic;
}

.title {
  font-weight: var(--font-weight-bold);

  margin-top: var(--spacing-xs);
  text-transform: uppercase;
  text-decoration: overline;
  font-weight: var(--font-weight-bold);
  border-bottom: 2rem solid var(--theme_upsell-border);
  max-width: fit-content;
}
