/** Color Palette */
:root {
  --color_electric-lime: #ccff00;
  --color_bunting: #0d1434;
  --color_pure-white: #fff;
  --color_royal-blue: #1d6feb;
  --color_stratos: #000053;
  --color_mirage: #1b2530;
  --color_oxford-blue: #3b415a;
  --color_french-gray: #babcc8;
}
