.page {
  background-color: var(--theme_bg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: page-enter 0.3s ease-out both;
}

@keyframes page-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
