/**
* Font Families
*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --weight-bold: 600;
}

body {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Work Sans", serif;
}

/**
* Font size and line-height
*/

html {
  font-size: 6.25%;
}

body {
  font-size: 16rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

strong {
  font-weight: var(--weight-bold);
}

/* 
* Font-size by breakpoint
*/

/* Extra Small (0 - 575px) */
@media (max-width: 575px) {
  body {
    font-size: 16rem;
  }
  h1 {
    font-size: 24rem;
  }
  h2 {
    font-size: 20rem;
  }
  h3 {
    font-size: 16rem;
  }
}

/* Small (576 - 767px) */
@media (min-width: 576px) {
  body {
    font-size: 16rem;
  }
  h1 {
    font-size: 28rem;
  }
  h2 {
    font-size: 22rem;
  }
  h3 {
    font-size: 16rem;
  }
}

/* Medium (768 - 991px) */
@media (min-width: 768px) {
  body {
    font-size: 18rem;
  }
  h1 {
    font-size: 32rem;
  }
  h2 {
    font-size: 26rem;
  }
  h3 {
    font-size: 18rem;
  }
}

/* Large (992 - 1199px) */
@media (min-width: 992px) {
  body {
    font-size: 18rem;
  }
  h1 {
    font-size: 36rem;
  }
  h2 {
    font-size: 28rem;
  }
  h3 {
    font-size: 18rem;
  }
}

/* Extra Large (1200+px) */
@media (min-width: 1200px) {
  body {
    font-size: 20rem;
  }
  h1 {
    font-size: 40rem;
  }
  h2 {
    font-size: 32rem;
  }
  h3 {
    font-size: 20rem;
  }
}
