.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}

.home-content_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index_sm);
  margin-bottom: calc(var(--spacing-2xl) * 2);
}

.home-content_isotype {
  margin-bottom: var(--spacing-lg);
}

.home-content_headline {
  margin-bottom: var(--spacing-2xs);
  letter-spacing: 0.8;
  letter-spacing: -0.2px;
}

.home-content_subheadline {
  margin-bottom: var(--spacing-md);
  letter-spacing: -0.3px;
}

.home-content_upsell {
  color: var(--theme_upsell-text);
  position: relative;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.home-cta-wrapper {
  display: flex;
  justify-content: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
}

.home-background {
  position: absolute;
  z-index: var(--z-index_xs);
}
