:root {
  --projects-header-height: 88rem;
  --gap: var(--spacing-md);
  --projects-article-height: calc(
    100vh - var(--projects-header-height) - (var(--gap) * 2)
  );
}

.projects-page {
  position: static;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.projects-header {
  height: var(--projects-header-height);
  border-bottom: 1px solid var(--theme_border);
}

.projects-article {
  overflow-y: hidden;
  flex: 1;
  width: 100%;
  max-width: 1024px;
  min-height: calc(var(--projects-article-height));
  margin: 0 auto;
  position: relative;
  padding-bottom: var(--gap);
  padding-top: var(--gap);
}

.projects-header-heading {
  color: var(--theme-text);
  gap: var(--spacing-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-top: var(--spacing-sm);
  margin-left: var(--spacing-lg);
}
