.floatingParticlesBackground {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-around;
}

.particle {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
}
