.nav-item_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

@media (min-width: 992px) {
  .nav-item_wrapper {
    padding-top: calc(var(--spacing-2xl) + var(--spacing-sm));
    min-height: 100%;
    box-sizing: border-box;
    padding-right: var(--spacing-xl);
  }
}

.nav-item_heading {
  color: var(--theme_text);
  margin-left: var(--spacing-xl);
}

.nav-item_hr {
  background-color: var(--theme_text);
  width: calc(100% - var(--spacing-xl));
  transform: translateX(-120%);
  opacity: 0;
  transition:
    transform 0.2s linear,
    opacity 0.2s linear;
}

.nav-item_hr.is-shown {
  transform: translateX(-24rem);
  opacity: 1;
}

@media (max-width: 992px) {
  .nav-item_hr {
    transform: translateX(-24rem);
    opacity: 1;
  }
}

.nav-item_caption {
  margin-left: var(--spacing-xl);
  color: var(--theme_text);
  font-style: italic;
}
