.tile {
  background-color: var(--border_bg);
  border: 1px solid var(--theme_upsell-bg);
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--border_radius-sm);
  position: relative;
}

.tile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0px -30px;
  filter: grayscale(1);
}

.tile-content {
  width: 100%;
  background-color: var(--theme_upsell-bg);
  padding: var(--spacing-md);
  position: absolute;
  bottom: 0;
}

.tile-content-eyebrow {
  color: var(--theme_text-info);
  font-size: 13rem;
  line-height: 20rem;
}

.tile-content-headline {
  color: var(--theme_text);
  font-size: 17rem;
  line-height: 24rem;
}

@media screen and (max-width: 800px) {
  .tile {
    flex: unset;
    display: block;
  }

  .row-0 .tile-img,
  .row-1 .tile-img,
  .row-2 .tile-img {
    aspect-ratio: 4 / 1;
  }

  .tile-img-wrapper {
    background-color: var(--theme_upsell-bg);
  }

  .tile-content {
    padding: var(--spacing-sm);
  }
}
