.grid {
  --gap: var(--spacing-md);
  --animatea-height: 10rem;
  --animatea-width: 10rem;
  --airtable-height: 10rem;
  --airtable-width: 10rem;
  --newsela-height: 10rem;
  --newsela-width: 10rem;
  --walmart-height: 10rem;
  --walmart-width: 10rem;
  --apple-height: 10rem;
  --apple-width: 10rem;
  --roll-height: 10rem;
  --roll-width: 10rem;
  --repleat-height: 10rem;
  --repleat-width: 10rem;
  --cabify-height: 10rem;
  --cabify-width: 10rem;

  position: relative;
}

@media (max-width: 768px) {
}

@media (min-width: 1200px) {
  .grid {
    height: -webkit-fill-available;
    height: calc(100vh - (var(--projects-header-height) + (var(--gap) * 2)));
    width: 2500rem;
    max-width: 90%;
    margin: var(--spacing-sm) auto;
  }
}

.grid .grid-item {
  background-color: var(--theme_upsell-bg);
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  border-radius: var(--border_radius-xs);

  height: calc(33% - var(--gap) / 2);
  box-shadow: 0 1px 1.5px var(--theme_bg-strong);
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
}

.roll-content {
  background-color: var(--theme_upsell-bg);
  width: 50%;
  padding: var(--spacing-xl) var(--spacing-lg);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roll-content_eyebrow {
  font-style: italic;
}

.roll-content_title {
  margin-top: var(--spacing-xs);
  text-transform: uppercase;
  text-decoration: overline;
  font-weight: var(--font-weight-bold);
  border-bottom: 2rem solid var(--theme_border);
  max-width: fit-content;
}
