.grid {
  --gap: var(--spacing-md);

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
  gap: var(--spacing-md);
  padding: var(--spacing-sm);
  position: absolute;
  inset: 0;
}

.row {
  flex: 1;
  min-height: 0;
  display: flex;
  gap: var(--spacing-md);
  transition: flex 400ms ease;
}

.grid.has-active .row.is-active-row {
  flex: 3;
}

@media screen and (max-width: 800px) {
  .grid {
    position: static;
    inset: auto;
    display: flex;
    overflow: visible;
    min-height: min-content;
    flex-direction: column;
  }

  .row,
  .grid.has-active .row.is-active-row {
    display: flex;
    flex-direction: column;
    flex: auto;
    transition: none;
  }
}
